.navcontain-mobile {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  width: 100%;

  background-color: white;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.navbutton-mobile {
  display: flex;
  justify-content:  flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px 0;
   padding-left: 0;

  gap: 0;
}

.navbutton-mobile a {
  flex: initial;
  width: auto;
  text-align: center;
  padding: 10px 0;
  font-size: 13px;
  color: black;
  background-color: white;
  text-decoration: none;
  border-radius: 0;
  white-space: nowrap;
  box-sizing: border-box;
  transition: background-color 0.3s;
  margin: 0 5px;
}

.navbutton-mobile a:hover {
  background-color: #f8d288;
  color: white;
}


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

main {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}


@media (max-width: 768px) {
  .navcontain-mobile {

    display: inline-block;
      top: 0px!important;
  left: 0px!important;
  right: 0px!important;
  }

  .navbutton-mobile a {
    font-size: 13px !important;
    padding: 7px 0 !important;
    margin: 0 5px !important; 
    justify-content: flex-start !important;
    width: 100% !important;
  }

  .navbutton-mobile a:nth-child(3) {
    margin-right: 2px !important; 
  }

  .navbutton-mobile a:nth-child(4) {
    margin-left: 2px !important; 
  }
}
