html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
  overflow-x: hidden;
}


main {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  background-color: white !important;
}

.navcontain-mobile {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: white;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}

.navbutton-mobile {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  flex-wrap: nowrap;
  width: 100% !important;
  padding: 10px 0 !important;
  padding-left: 0 !important;
  margin: 0 !important;
  gap: 0;
  box-sizing: border-box;
}

.navbutton-mobile a {
  flex: initial;
  width: auto;
  text-align: center;
  padding: 10px 0;
  font-size: 13px;
  color: black;
  background-color: white;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  transition: background-color 0.3s;
  margin: 0 4px;
}

.navbutton-mobile a:first-child {
  margin-left: 0 !important;
}

@media (max-width: 768px) {
  .navcontain-mobile {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .navbutton-mobile {
    padding: 7px 0 !important;
  }

  .navbutton-mobile a {
    font-size: 13px !important;
    padding: 7px 0 !important;
    margin: 0 4px !important;
  }

  .navbutton-mobile a:first-child {
    margin-left: 0 !important;
  }
}
